/* style.css */
body { 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 

	align-items: center; 
	min-height: 50vh; 
} 

.root { 
	font-size: x-large; 
	color: rgb(11, 10, 10); 
	background-color: rgb(249, 248, 253); 
	box-shadow: 0 2px 5px grey; 
	padding: 0% 5% 1% 5%; 
margin-top: 100PX;
	text-align: center; 
	border-radius: 5px 0; 
} 

.title { 
	border-bottom: 4px dashed; 
	border-color: rgb(11, 10, 10); 
} 

input { 
	font-size: 20px; 
	padding-left: 60px; 
	outline: 2px grey; 
} 


.foot { 
	margin-bottom: 0%; 
	display: flex; 
	width: 100%; 
} 

.foot>button { 
	width: 48%; 
	padding: 1%; 
	margin: 1%; 
	background-color: rgb(90, 156, 79); 
	border-radius: 5px; 
	border-color: rgb(111, 181, 111); 
	font-size: large; 
}
